.encabezado, h2 {
  color:rgb(231, 190, 190);
}

div {
  color:white;
}

body {
  background-color: rgb(24, 179, 179);
}

.cita, td {
  font-style:italic;
  color:rgb(21, 40, 255);
  margin:20;
}

p {
  color:rgb(190, 190, 55);
}

.p2 {
  font-style:normal;
  margin-left:20px
}
code {
  font-style:normal;
}

.resumen {
  color:rgb(201, 77, 77);
  font-style:italic;
  font-size:small;
  margin: 10px 40px 25px 40px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color:royalblue;
}
    
.cita {
  font-style:italic;
  caret-color:rgb(40, 252, 252);
  }
 col